{% extends 'base.html.twig' %}
{% block title %}パスワード管理{% endblock %}
{% block body %}
    <div class="wallBelt narrow">
        <div class="contents">
            <h1>完了画面</h1>





        </div>
    </div>
{% endblock %}

