@charset "UTF-8";
/* ######################################################################################

	共通設定

###################################################################################### */
/* ######################################################################################

　編集一覧

###################################################################################### */
.pageAdmin.index .funcBox{
  padding: 1.5em;
  background: #fff;
  border-radius: 8px;
}
.pageAdmin.index .funcBox + .funcBox{margin-top: 1.5em;}
.pageAdmin.index .titleFunc{margin-bottom: 0.75em; font-size: 17px;}
.pageAdmin.index .funcList li{
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.pageAdmin.index .funcList li + li{margin-left: 1em;}
.pageAdmin.index .funcList li .button{
  width: 200px;
  padding: 1em;
  background: #fff;
  border: 1px solid #555;
  font-weight: bold;
}

/* ######################################################################################

　記事一覧

###################################################################################### */

/* ====================================================
　検索メニュー
==================================================== */
.pageAdmin.edit.index .searchBox th,
.pageAdmin.edit.index .searchBox td{
  padding: 12px 8px 11px;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.pageAdmin.edit.index .searchBox th{width: 150px; text-align: center; vertical-align: middle;}
.pageAdmin.edit.index .searchBox td select{width: 200px; background: #fff;}

.pageAdmin.edit.index th.date{width: 140px;}
.pageAdmin.edit.index th.edit{width: 150px; text-align: center;}
.pageAdmin.edit.index td{background: #fff;}
.pageAdmin.edit.index td.edit{font-size: 0; text-align: center;}
.pageAdmin.edit.index td.edit li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.pageAdmin.edit.index td.edit li + li{margin-left: 1em;}
.pageAdmin.edit.index .searchBox .term input[type="text"]{width: 4em;}
.pageAdmin.edit.index .searchBox .term  input[type="text"].year{width: 8em;}








/* end */
