DirectoryIndex index.php
php_value include_path ".:../inc:../env:../design_template:../default_template"
php_value mbstring.internal_encoding UTF-8
php_flag display_errors 1
php_value error_reporting E_ALL

