{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function () {
        // append to layout
        $(".ec-orderRole__summary .ec-totalBox").before($("#Regist").detach());
    })
</script>


<div class="ec-registerBox" id="Regist">
    <h2>メンバー登録をされていないお客様へ</h2>
    <p>この機会にぜひショッピングメンバーにご登録ください。 <br>パスワードを入力してから注文確定ボタンをクリックしていただくと<br>ご注文者をメンバーとして登録させていただきます。</p>
</div>
