@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
.cheatSheet {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: #ccc 1px solid;
    line-height: 1.2em;
}
.cheatSheet .prettyprint {
    padding: 0;
    border: none;
}
.cheatSheet .code ol {
    padding-left: 40px;
}
.cheatSheet .description ol {
    list-style: none;
}
.cheatSheet .description li {
    padding-left: 10px;
}
.cheatSheet .description * {
    color: #333;
}
