@charset "UTF-8";

/* ######################################################################################

　buttonBox

###################################################################################### */
@media print, screen and (min-width: 768px) {
    .buttonBox{width: 320px; margin: 0 auto;}
    .buttonBox:after{
        content: "";
        display: block;
        clear: both;
    }
    .buttonBox li.submit{float: right;}
    .buttonBox li.back{float: left;}
    .buttonBox li button,
    .buttonBox li a{width: 150px;}
}
@media screen and (max-width: 767px) {
    .buttonBox li + li{margin-top: 0.5em;}
    .buttonBox li button,
    .buttonBox li a{display: block; width: 100%;}
}

/* ######################################################################################

　フォーム　Form

###################################################################################### */
input[type="checkbox"], input[type="radio"] { display: none; }
input[type="checkbox"] + label, input[type="checkbox"] + span { position: relative; padding-left: 1.5em; cursor: pointer; }
input[type="radio"] + label, input[type="radio"] + span { position: relative; padding-left: 1.5em; cursor: pointer; }
input[type="checkbox"] + label:before, input[type="checkbox"] + span:before, input[type="radio"] + label:before, input[type="radio"] + span:before { content: ""; display: inline-block; position: absolute; top: 50%; left: 0.25em; transform: translateY(-50%); font-family: FontAwesome; }
input[type="checkbox"] + label:before, input[type="checkbox"] + span:before { content: "\f096"; }
input[type="radio"] + label:before, input[type="radio"] + span:before { content: "\f10c"; }
input[type="checkbox"]:checked + label:before, input[type="checkbox"]:checked + span:before { content: "\f046"; }
input[type="radio"]:checked + label:before, input[type="radio"]:checked + span:before { content: "\f192"; }

textarea.form-control{height: 250px;}
.buttonBox{text-align: center;}
.pagination{justify-content: center;}
.pagination span,
.pagination span a{font-size: 18px;}
.form-control{margin-bottom: 0.5em;}
.form-group li{color: #f00;}
.form-group .limit{margin-bottom: 0.25em; font-size: 15px;}

@media screen and (max-width: 767px) {
    .form-group .limit{font-size: 13px;}
    .form-group input[type="text"],
    .form-group input[type="password"]{height: 32px;}
}

/* ######################################################################################

　ページング　pagination

###################################################################################### */
.navigation .page,
.navigation .current{padding: 0 8px;}
.navigation .next{padding-right: 8px;}
.navigation .previous{padding-left: 8px;}
.navigation .first,
.navigation .last{letter-spacing: -3px;}


/* ######################################################################################

　テーブル　table

###################################################################################### */
@media print, screen and (min-width: 768px) {
    table.list td.memo{width: 470px;}
}
@media screen and (max-width: 767px) {
    table,
    table tbody,
    table tr,
    table th,
    table td{display: block;}

    table tr{border: 1px solid #dee2e6;}
    
    table th.pc{display: none;}

    table td span{font-weight: bold;}
    table td.memo span{display: block;}
    table td .btn-toolbar{margin-top: 0.5em;}

    table.list tr + tr{margin-top: 1em;}
    table.list tr{border-top: none;}

    table.form tr + tr{margin-top: 0.5em;}
    table.form th{border-top: none;}
    table.form td.form-group{margin-bottom: 0;}
}


/* ######################################################################################

　ソート　sort

###################################################################################### */
.table th .asc:after,
.table th .desc:after{
    margin-left: 0.25em;
    color: #000;
    text-decoration: none;
    font-size: 0.8em;
}
.table th .asc:after{content: "▲";}
.table th .desc:after{content: "▼";}

@media screen and (max-width: 767px) {
    .table .sort{padding: 0;}
    .table .sort a{
        display: block;
        padding: 0.75rem;
    }
}

/* ######################################################################################

　表示・非表示　pc sp

###################################################################################### */

/* ====================================================
　表示・非表示
==================================================== */
@media print, screen and (min-width: 768px) {
    div.sp { display: none; }
    div.pc { display: block; }
    img.sp,
    span.sp,
    br.sp { display: none; }
    img.pc,
    span.pc,
    br.pc { display: inline; }
    }

    @media screen and (max-width: 767px) {
    div.sp { display: block; }
    div.pc { display: none; }
    img.sp,
    span.sp,
    br.sp { display: inline; }
    img.pc,
    span.pc,
    br.pc { display: none; }
}

/* ######################################################################################

　帯背景　wallBelt

###################################################################################### */
@media print, screen and (min-width: 768px) {
    .wallBelt {
        padding: 60px 0;
        overflow: hidden;
    }
    .wallBelt.zero { padding: 0 0; }
    .wallBelt.narrow { padding: 30px 0; }
    .wallBelt.wide { padding: 80px 0; }
}

@media screen and (max-width: 767px) {
    .wallBelt { padding: 30px 0; }
    .wallBelt.zero { padding: 0 0; }
    .wallBelt.narrow { padding: 15px 0 30px; }
    .wallBelt.wide { padding: 40px 0; }
}

/* ######################################################################################

　コンテンツ　contents

###################################################################################### */
.contents{padding: 0 15px;}

@media print, screen and (min-width: 768px) {
    .contents{width: 1030px; margin: 0 auto;}
}

@media screen and (max-width: 767px) {
}

/* ######################################################################################

　タイトル　title

###################################################################################### */
@media print, screen and (min-width: 768px) {
    .pageTitle{margin-bottom: 1.25em; font-size: 30px;}
}
@media screen and (max-width: 767px) {
    .pageTitle{margin-bottom: 1em; font-size: 28px;}
}
